{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style-ecommerce.css' %}">
    <script type="text/javascript">
        let user = '{{ request.user }}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let csrftoken = getToken('csrftoken');


        function getCookie(name) {
            let cookieArr = document.cookie.split(';');

            for(let i=0; i < cookieArr.length; i++) {
                let cookiePair = cookieArr[i].split('=');
                if(name == cookiePair[0].trim()) {
                    return decodeURIComponent(cookiePair[1])
                }
            }
            return null;
        }
        let cart = JSON.parse(getCookie('cart'))
        if(cart == undefined){
            cart = {}
            console.log('Cart was created')
            document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
        }

        console.log('Cart:', cart)

    </script>
    <title>Ecommerce</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'store' %}">Ecom</a></li>
        <li><a href="{% url 'cart' %}">Cart</a></li>
      </ul>
      <p>Cart: {{ cartItems }}</p>
    {% block content %}
    {% endblock %}

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>
</html>