{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="green_button">
    <a href="{% url 'checkout' %}">Checkout</a>
</div>
<div class="total">
    <p>Total: ${{ order.get_cart_total|floatformat:2 }}</p>
    <p>Items: {{ order.get_cart_items }}</p>
</div>


<div class="cart__block">
    <div class="cart__column">
        
        {% for item in items %}
            <div class="cart__row">
                
                <div class="cart__element">
                    <div class="cart__content">
                        <img class="cart__image" src="{{ item.product.imageURL }}">
                    </div>
                </div>

                <div class="cart__element">
                    <div class="cart__content">
                        <p>{{ item.product.name }}</p>
                    </div>
                </div>

                <div class="cart__element">
                    <div class="cart__content">
                        <p>Price: {{ item.product.price|floatformat:2 }}</p>
                    </div>
                </div>

                <div class="cart__element">
                    <div class="cart__content">
                        <div class="change-quantity">
                            <p>Quantity: {{ item.quantity }}</p>
                            <img data-product="{{ item.product.id }}" data-action="add" class="update-cart" src="{% static 'media/arrow_up.png' %}">
                            <img data-product="{{ item.product.id }}" data-action="remove" class="update-cart" src="{% static 'media/arrow_down.png' %}">
                        </div>
                    </div>
                </div>

                <div class="cart__element">
                    <div class="cart__content">
                        <p>Total: {{ item.get_total }}</p>
                    </div>
                </div>

            </div>
        

        {% endfor %}
        
    </div>
</div>

{% endblock %}